[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
jupyterlab = "*"
datasets = "*"
transformers = {extras = ["torch"], version = "*"}
ipywidgets = "*"
unsloth = {extras = ["colab-new"], version = "*"}
fastapi = "*"
uvicorn = "*"
llama-cpp-python = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
